# The PWA module does not require any additional environment variables.
NUXT_DOCUMENT_BACKEND=
NUXT_FILE_BACKEND=
NUXT_STORAGE_DIR=
NUXT_MONGODB_URI=
NUXT_MONGODB_DATABASE=
NUXT_MONGODB_RECIPES_COLLECTION=
NUXT_MONGODB_RECIPE_TAGS_COLLECTION=
NUXT_MONGODB_USERS_COLLECTION=
NUXT_LEGACY_RECIPE_OWNER_ID=
NUXT_SESSION_PASSWORD=
